.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 8fr;
    gap: 1px;
}

header {
    grid-column: 2 / span 1;
    box-shadow: 0 4px 6px rgba(1, 0, 0, 0.2);
    padding: 20px;
}

.header-top,
.header-bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}

.header-top-left,
.header-top-right,
.header-bottom-left,
.header-bottom-right {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
}

aside {
    background-color: rgb(64, 94, 214);
    grid-row: 1 / -1;

    padding: 20px;
    color: white;
}

aside ul {
    display: grid;
    gap: 10px;
}

aside ul li {
    list-style-type: none;
}

main {
    background-color: rgb(222, 222, 248);
    padding: 20px;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}

main span {
    font-weight: bold;
}

.main-content-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.main-content .item {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 20px;
    gap: 20px;
}

.main-content-right .trending-container,
.main-content-right .announcement-container {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.announcement-container {
    grid-row: 1 / 1.5;
}

.announcement-item p {
    padding: 0;
    margin-bottom: 20px;
    font-size: 10px;
    color: gray;
}

.announcement-item h5 {
    padding: 0;
    margin: 2px;
}

main span {
    font-size: 20px;
    margin-bottom: 20px;
}