.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    gap: 1px;
}

header {
    grid-column: 2 / span 1;
    box-shadow: 0 4px 6px rgba(1, 0, 0, 0.2);

    display: grid;
    grid-template-rows: 0.3fr 0.6fr;
}

.header-top,
.header-bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}

.header-top-left,
.header-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-top-left {
    margin: 5px 50px;
}

.header-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}

.header-bottom-left {
    display: flex;
    margin-left: 50px;
}

.circular-container {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.circular-container img {
  width: 100%;
  height: auto;
  display: block;
}

.header-bottom-left .circular-container {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
}

.header-bottom-left span {
    margin: 10px;
}

.header-bottom-left h4 {
    margin: 0;
    font-size: 25px
}

header input[type="text"] {
    flex: 1;
    height: 10px;
    background-color: rgb(233, 237, 255);
    border: 0;
    border-radius: 20px;
    padding: 10px;
}

header input[type="text"]:focus {
    outline: none;
    border: 1px solid rgba(17, 17, 255, 0.3);
} 

.icon {
    width: 20px;
    height: 20px;
}

button{
    width: 80px;
    padding: 10px 20px;
    background-color: rgb(64, 94, 214);
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 550;
    text-align: center;
    cursor: pointer;
}

aside {
    background-color: rgb(64, 94, 214);
    grid-row: 1 / -1;

    padding: 20px;
    color: white;
}

aside ul {
    display: grid;
    gap: 10px;
}

aside ul li {
    list-style-type: none;
}

main {
    background-color: rgb(222, 222, 248);
    padding: 20px;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3.5fr 1fr;
}

main span {
    font-weight: bold;
}

.main-content-left {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

.main-content .item {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-content-right {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-left: 20px;
    gap: 20px;
}

.main-content-right .trending-container,
.main-content-right .announcement-container {
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.announcement-container {
    grid-row: 1 / 1.5;
}

.announcement-item p {
    padding: 0;
    margin-bottom: 20px;
    font-size: 10px;
    color: gray;
}

.announcement-item h5 {
    padding: 0;
    margin: 2px;
}

main span {
    font-size: 20px;
    margin-bottom: 20px;
}